// media

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px){
	.menu__a_ul {
		font-size: 35px;
	}
	.menu__a {
		font-size: 35px;
		padding: 7px 25px 10px 25px;
	}
	.item__wrap-image {
		height: 200px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header__img{
		width: 350px;
	}
	.menu__a_ul {
		font-size: 25px;
	}
	.menu__a {
		font-size: 25px;
		padding: 5px 21px 8px 21px;
	}
	.item__wrap-image {
		height: 240px;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.menu__a{
		font-size: 18px;
		padding: 3px 15px 4px 15px;
		border: 2px solid #337ab7;
		&:hover {
			border: 2px solid #23527c;
		}
	}

	.menu__ul {
		display: none;
	}

	.burger {
		display: block;
	}
	.item__wrap-image {
		height: auto;
	}
	.menu-footer__a_ul {
    font-size: 20px;
	}
}



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.content{
	  padding: 15px 0 0 0;
	}
	.item {
	  margin-bottom: 15px;
	}
 	.header__img{
		width: 300px;
	}
	.menu-footer__a_ul {
    font-size: 15px;
	}
	.menu-footer__li {
    margin-right: 5px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){


} 